<?xml version="1.0"?>
<launch>
	
  <arg name="laser_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
   <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find argo_gazebo)/launch/argo_empty_world.launch">
    <!--<arg name="world_name" value="$(find argo_gazebo)/worlds/clearpath_playpen.world"/> -->
    <arg name="world_name" value="$(find argo_gazebo)/worlds/custom_1.world"/>
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
    <arg name="kinect_enabled" value="$(arg kinect_enabled)"/>
  </include>
 
<!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->

<!-- Spawn argo into Gazebo(Commented) -->
<!--<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find argo_description)/urdf/argo_urdf_2.URDF -urdf -x 0 -y 0 -z 0.8 -model argo_urdf_2" />-->

</launch>

